<footer class="bg-dark text-white text-center p-3">
    <p>&copy; 2024 MaBoutique. Tous droits réservés.</p>
</footer>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
