<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description de votre boutique en ligne">
    <meta name="keywords" content="vêtements, mode, hommes, femmes, enfants, promotions">
    <title>MaBoutique</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  
<body>
<header class="bg-dark text-white p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/" class="text-white text-decoration-none">MaBoutique</a>
            </div>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a href="/" class="nav-link text-white">Accueil</a></li>
                    <li class="nav-item"><a href="/categorie/hommes" class="nav-link text-white">Hommes</a></li>
                    <li class="nav-item"><a href="/categorie/femmes" class="nav-link text-white">Femmes</a></li>
                    <li class="nav-item"><a href="/categorie/enfants" class="nav-link text-white">Enfants</a></li>
                    <li class="nav-item"><a href="/promotions" class="nav-link text-white">Promotions</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link text-white">Contact</a></li>
                    <li class="nav-item"><a href="/cart" class="nav-link text-white">Panier</a></li>
                    <li class="nav-item"><a href="/wishlist" class="nav-link text-white">Wishlist</a></li>
                    <li class="nav-item"><a href="/orderHistory" class="nav-link text-white">Historique des Commandes</a></li>
                    <li class="nav-item">
                        <form action="/search" method="get" class="d-flex">
                            <input type="text" name="query" placeholder="Recherche..." required class="form-control me-2">
                            <button type="submit" class="btn btn-outline-light">Rechercher</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


